html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    text-align: center;
    -webkit-user-select: none; 
    user-select: none;
    padding: 15px;
}
footer{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-content: end;
}
footer p {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 16.5px;
}
body::-webkit-scrollbar, #Descripcion::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(132, 214, 255);
    border-radius: 25px;
    min-height: 50px;
}
#Descripcion::-webkit-scrollbar-thumb{
    background-color: rgb(104, 166, 198);
    border-radius: 25px;
    min-height: 20px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(166, 224, 255);
}
#Descripcion::-webkit-scrollbar-thumb:hover{
    background-color: rgb(162, 185, 196);
}
body::-webkit-scrollbar-track, #Descripcion::-webkit-scrollbar-track{
    background-color: #1a1a1a;
}
body::-webkit-scrollbar-track:hover, #Descripcion::-webkit-scrollbar-track:hover{
    background-color: #252525;
}

#escoba{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 100;
    display: none;
}

#menuimg{
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 101;
    background-color: black;
}
#menuimg:hover{
    transform: scale(1.2);
}

#menu{
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 100;
    background-color: rgb(19, 19, 19);
    color: white;
    border-radius: 10px;
}

#menu li {
    list-style-type: none;
    padding: 5px;
    background-color: rgb(19, 19, 19);
}

#menu li a{
    z-index: 102;
    display: block;
    text-decoration: none;
    color: rgb(200, 200, 200);
    border-radius: 10px;
}
#menu li:hover a{
    color: white;
}

/* Estilo al pasar el mouse por encima de los elementos li */
#menu li:hover {
    background-color: rgb(98, 98, 98);
}

#escoba:hover{
    animation: rotar 1s infinite ease;
}

@keyframes rotar {
    0%{
        transform: rotate(30deg) scale(1);
    }
    50%
    {
        transform: rotate(-30deg) scale(1.3);
    }
    100%
    {
        transform: rotate(30deg) scale(1);
    }
}

h1{
    color: rgb(107, 129, 255);
}

h2{
    color: rgb(157, 164, 202);
}

h2:hover{
    color: rgb(202, 206, 229);
    transition: 0.15s;
}

.Conceptos{
    display: grid;
    position: relative;
    grid-template-columns: repeat(7,auto);
    gap: 5px;
    grid-template-areas: 'Concepto1 Concepto2 Concepto3 Concepto4 Concepto5 Concepto6 Concepto7';
}

.con-1 .concept-1 {
    grid-area: Concepto4;
}

.con-2 .concept-1 {
    grid-area: Concepto3;
}
.con-2 .concept-2 {
    grid-area: Concepto5;
}

.con-3 .concept-1 {
    grid-area: Concepto3;
}
.con-3 .concept-2 {
    grid-area: Concepto4;
}
.con-3 .concept-3 {
    grid-area: Concepto5;
}

.con-4 .concept-1 {
    grid-area: Concepto2;
}
.con-4 .concept-2 {
    grid-area: Concepto3;
}
.con-4 .concept-3 {
    grid-area: Concepto5;
}
.con-4 .concept-4 {
    grid-area: Concepto6;
}

.con-5 .concept-1 {
    grid-area: Concepto2;
}
.con-5 .concept-2 {
    grid-area: Concepto3;
}
.con-5 .concept-3 {
    grid-area: Concepto4;
}
.con-5 .concept-4 {
    grid-area: Concepto5;
}
.con-5 .concept-5 {
    grid-area: Concepto6;
}

.con-6 .concept-1 {
    grid-area: Concepto1;
}
.con-6 .concept-2 {
    grid-area: Concepto2;
}
.con-6 .concept-3 {
    grid-area: Concepto3;
}
.con-6 .concept-4 {
    grid-area: Concepto5;
}
.con-6 .concept-5 {
    grid-area: Concepto6;
}
.con-6 .concept-6 {
    grid-area: Concepto7;
}

.con-7 .concept-1 {
    grid-area: Concepto1;
}
.con-7 .concept-2 {
    grid-area: Concepto2;
}
.con-7 .concept-3 {
    grid-area: Concepto3;
}
.con-7 .concept-4 {
    grid-area: Concepto4;
}
.con-7 .concept-5 {
    grid-area: Concepto5;
}
.con-7 .concept-6 {
    grid-area: Concepto6;
}
.con-7 .concept-7 {
    grid-area: Concepto7;
}


.Concepto{
        z-index: 50;
        padding: 5px;
        border: 2px solid rgb(132, 214, 255);
        border-radius: 5px;
}

.Concepto:hover{
                background-color: rgba(94, 94, 94, 0.305);
                border-radius: 5px;
                animation: atenuar 2s infinite;
                border: 2px solid rgb(239, 250, 255);
}

#Descripcion{
    display: none;
    background-color: rgb(172, 241, 215);
    color: black;
    border-radius: 10px;
    z-index: 51;
}

.Aclaraciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    position: absolute;
    top: -100%;
}

.Aclaracion{
    display: flex;
    width: 100%;
    justify-content: start;
}

.Aclaracion p{
    display: none;
    position: relative;
    z-index: 52;
}

.Aclaracion img{
    display: flex;
    position: relative;
    margin: 5px;
    animation: brillos 1.5s infinite;
    z-index: 53;
    left: -2.5%;
}

.Aclaracion img:hover + p{
    display: flex;
    position: Absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(33, 33, 72);
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    animation-name: AnimacionEntrada;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes AnimacionEntrada{
        0% 
    {
        position: fixed;
        top: 0%;
        left: 5%;
        color: rgba(255, 255, 255, 0);
        width: 0%;
        height: 10vh;
    }
        50% 
    {
        position: fixed;
        width: 30%;
        height: fit-content-moz-fit-content;
        height: 20vh;
    }
        100% 
    {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: fit-content-moz-fit-content;
        color: white;
    }
}


@keyframes atenuar {
    0% 
    {
        background-color: rgb(98, 98, 98);
    }
        50% 
    {
        background-color: rgb(46, 46, 46);
    }
        100% 
    {
        background-color: rgb(98, 98, 98);
    }
}


@keyframes brillos {
    0% 
    {
        transform: scale(1);
    }
        50% 
    {
        transform: scale(1.15);
    }
        100% 
    {
        transform: scale(1);
    }
}

@media (max-width: 970px) {

    .Conceptos{
        display: grid;
        position: relative;
        grid-template-columns: repeat(3,auto);
        gap: 5px;
        grid-template-areas:'Concepto1 Concepto2 Concepto3'
                            'Concepto4 Concepto5 Concepto6'
                            'Concepto7 Concepto8 Concepto9'
    }
        
    .con-1 .concept-1 {
        grid-area: Concepto2;
    }

    .con-2 .concept-1 {
        grid-area: Concepto1;
    }
    .con-2 .concept-2 {
        grid-area: Concepto3;
    }

    .con-3 .concept-1 {
        grid-area: Concepto1;
    }
    .con-3 .concept-2 {
        grid-area: Concepto2;
    }
    .con-3 .concept-3 {
        grid-area: Concepto3;
    }

    .con-4 .concept-1 {
        grid-area: Concepto1;
    }
    .con-4 .concept-2 {
        grid-area: Concepto2;
    }
    .con-4 .concept-3 {
        grid-area: Concepto3;
    }
    .con-4 .concept-4 {
        grid-area: Concepto5;
    }

    .con-5 .concept-1 {
        grid-area: Concepto1;
    }
    .con-5 .concept-2 {
        grid-area: Concepto2;
    }
    .con-5 .concept-3 {
        grid-area: Concepto3;
    }
    .con-5 .concept-4 {
        grid-area: Concepto4;
    }
    .con-5 .concept-5 {
        grid-area: Concepto6;
    }

    .con-6 .concept-1 {
        grid-area: Concepto1;
    }
    .con-6 .concept-2 {
        grid-area: Concepto2;
    }
    .con-6 .concept-3 {
        grid-area: Concepto3;
    }
    .con-6 .concept-4 {
        grid-area: Concepto4;
    }
    .con-6 .concept-5 {
        grid-area: Concepto5;
    }
    .con-6 .concept-6 {
        grid-area: Concepto6;
    }

    .con-7 .concept-1 {
        grid-area: Concepto1;
    }
    .con-7 .concept-2 {
        grid-area: Concepto2;
    }
    .con-7 .concept-3 {
        grid-area: Concepto3;
    }
    .con-7 .concept-4 {
        grid-area: Concepto4;
    }
    .con-7 .concept-5 {
        grid-area: Concepto5;
    }
    .con-7 .concept-6 {
        grid-area: Concepto6;
    }
    .con-7 .concept-7 {
        grid-area: Concepto8;
    }
}

@media (max-width: 590px) {

    .Conceptos{
        display: grid;
        position: relative;
        grid-template-columns: repeat(1,auto);
        gap: 5px;
        grid-template-areas:'Concepto1'
                            'Concepto2'
                            'Concepto3'
                            'Concepto4'
                            'Concepto5'
                            'Concepto6'
                            'Concepto7'
                            'Concepto8'
    }
        
    .con-1 .concept-1 {
        grid-area: Concepto1;
    }

    .con-2 .concept-1 {
        grid-area: Concepto1;
    }
    .con-2 .concept-2 {
        grid-area: Concepto2;
    }

    .con-3 .concept-1 {
        grid-area: Concepto1;
    }
    .con-3 .concept-2 {
        grid-area: Concepto2;
    }
    .con-3 .concept-3 {
        grid-area: Concepto3 Concepto4;
    }

    .con-4 .concept-1 {
        grid-area: Concepto1;
    }
    .con-4 .concept-2 {
        grid-area: Concepto2;
    }
    .con-4 .concept-3 {
        grid-area: Concepto3;
    }
    .con-4 .concept-4 {
        grid-area: Concepto4;
    }

    .con-5 .concept-1 {
        grid-area: Concepto1;
    }
    .con-5 .concept-2 {
        grid-area: Concepto2;
    }
    .con-5 .concept-3 {
        grid-area: Concepto3;
    }
    .con-5 .concept-4 {
        grid-area: Concepto4;
    }
    .con-5 .concept-5 {
        grid-area: Concepto5 Concepto6;
    }

    .con-6 .concept-1 {
        grid-area: Concepto1;
    }
    .con-6 .concept-2 {
        grid-area: Concepto2;
    }
    .con-6 .concept-3 {
        grid-area: Concepto3;
    }
    .con-6 .concept-4 {
        grid-area: Concepto4;
    }
    .con-6 .concept-5 {
        grid-area: Concepto5;
    }
    .con-6 .concept-6 {
        grid-area: Concepto6;
    }

    .con-7 .concept-1 {
        grid-area: Concepto1;
    }
    .con-7 .concept-2 {
        grid-area: Concepto2;
    }
    .con-7 .concept-3 {
        grid-area: Concepto3;
    }
    .con-7 .concept-4 {
        grid-area: Concepto4;
    }
    .con-7 .concept-5 {
        grid-area: Concepto5;
    }
    .con-7 .concept-6 {
        grid-area: Concepto6;
    }
    .con-7 .concept-7 {
        grid-area: Concepto7 Concepto8;
    }
}